<nav class='navigation'>
  <a href="/home">
    <div>home</div>
  </a>
</nav>
<div class='container'>
  {{#each artists}}
  <a href='/artist/{{id}}'>
    <img src="{{images.0.url}}" />
    <h3>{{name}}</h3>
  </a>
  {{/each}}
</div>