<div class='coloured-container'>
  <h2>Search an artist</h2>
  <form action="/artists-search" method="POST">
    <input name="artists" type="text">
    <button type="submit">Submit</button>
  </form>
</div>